.navbar-custom{
    background-color: #009688;
}

.offcanvas-custom{
    top: 56px !important;
    height: calc(100% -56px) !important;
    background-color: #009688;
}

.li-custom{
    color: white !important;
    cursor: pointer;
}

.crsptr{
    cursor: pointer;
}